<div class="container-fluid">
  <div class="row">
    <div class="col offset-sm-2">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>会員ID</td>
            <td><%= @member.id %></td>
          </tr>
          <tr>
            <td>ニックネーム</td>
            <td><%= @member.name %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @member.email %></td>
          </tr>
          <tr>
            <td>会員ステータス</td>
            <% if @member.is_withdrawal == false %>
              <td class="text-success font-weight-bold">有効</td>
            <% else %>
              <td class="text-secondary">退会</td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

    <div class="form-group row mt-4">
      <div class="col-sm-9 offset-sm-5">
        <%= link_to "ステータス変更", edit_admin_member_path, class: "btn btn-danger" %>
      </div>
    </div>

</div><!-- container -->
