<div class="container-fluid">
  <div class="row">
    <div class="col mt-5">
      <div class="d-flex justify-content-center text-center">
        ようこそ、釣りたいへ<br>
        こちらは釣果投稿サイトです、釣果を投稿したり他のユーザーの釣果を見ることができコメント機能を使い釣り仲間と交流することも出来ます。<br>
        釣果投稿に際して潮の状態や干満、波高等細かに釣り場の情報を設定して投稿する事で再現性のある釣行に役立てられると思います。<br>
        また都道府県や市区町村はオープンな情報ですがポイント（釣り場）は投稿したユーザーにのみ表示されることで秘密のポイントを公開することなく釣果履歴として活用できます。<br>
        投稿時の注意点としてタイトル・投稿文・釣果・都道府県・市区町村は必須の入力事項となっております。<br>
        皆様のご利用お待ちしております。<br>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col m-5">
      <div class="d-flex justify-content-center text-center">
        出典:<%= link_to "「位置参照情報」(国土交通省)", "https://nlftp.mlit.go.jp/" %>の加工情報・<%= link_to "「HeartRails Geo API」(HeartRails Inc.)", "https://geoapi.heartrails.com/" %>
      </div>
    </div>
  </div>
</div>
