<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <%= render 'member/details/show', member: @member %>
    </div><!-- col -->

    <div class="col-8">
      <h1>Member::Results#index</h1>
    </div><!-- col -->
  </div><!-- row -->
</div><!-- container -->
